################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Banco/bin/Debug
/Banco/obj
/.vs/Banco/v15
/.vs/Banco/v16
